* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  max-width: 100%;
}
.container-fluid {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 2.5%;
  background: #F5F5F5;
}

.row {
  /*width: 100%;*/
  padding: 0;
  margin: 0;
  max-width: 100%;
  /*height: 500px;*/
  border: 1px solid green;

}

/*--------------------Header Row*------------------*/

.heads {
  border: 1px solid green;
  margin-bottom: 5%;
}
.navbar {
  border: none;
  position: relative;
  max-width: 100%;
  width: 100%;
  border: 1px solid yellow;

}
.navbar-header {
  width: 14%;
  border: none;
  overflow: auto;
  float: left;
  display: inline-block;
  margin-left: 1%;
}
.navbar-header span {
  border: 1px solid grey;
}
.navbar-header button {
  border: none;
}
.navbar #athink {
  overflow: auto;
}
.navbar .think {
  float: left;
  width: 175px;
  margin-top: 15px;
}
#magz {
  position: absolute;
  top: 25%;
  right: 1%;
  width: 25px;
  height: auto
}
.heads h3 {
  padding-top: 20px;
  padding-left: 20px;
}
/*--------------------Trends Row*------------------*/

.trends {
  height: 40%;
}
.future {
  background-color: blue;
  height: 10%;

}
.future h4 {
  display: inline-block;
  color: white;
  margin: 0;
  padding: 0;

}
.smallerTrend {

  background-color: white;
  border: 2px solid red;
}
.smallerTrendHide {

  background-color: white;
  border: 2px solid red;
}

/*--------------------Tools Row Two*------------------*/

.trendsTwo {

}

/*--------------------Tools Row*------------------*/

.tools {
  margin-bottom: 5%;
}
.divStock {
  background-color: #CFD7DC;
  width: 20%;
}
.stockImages {
  max-width: 10%;

}

/*--------------------Button*------------------*/

.learn {
  display: block;
  margin: auto;
}

/*--------------------Latest Data Row*------------------*/
.latestData {

}
.hInline {
  display: inline-block;
}

/*--------------------Footer Row*------------------*/
.foot {

  background-color: #3367D6;
  color: white;
}
.foot ul {
  float: left;
  list-style: none;
}
.foot ul li {
  display: inline;
  margin: 1% 5%;
}
.foot button {
  display: block;
  position: relative;
  bottom: 0;
}
@media screen and (min-width: 0px) and (max-width: 600px) {
    .smallerTrendHide {
      display: none;
    }
}
@media screen and (min-width: 601px) and (max-width: 1400px) {
  .smallerTrend {
    display: none;
  }
}

/*.navbar-collapse {
  margin-left: 5%;
}*/

/*.col-md-6 {
  border: 2px solid red;
  max-width: 100%;
  width: 100%;
}*/
/*.heads {
  background-color: #E2E7EA;
  height: 450px;
}
.col-md-6, .col-md-3 {
  border: 2px solid red
}*/
